* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: #1c1d20;
  font-size: 1.05rem;
}

a {
  color: #50b7e0;
  text-decoration: none;
}
a:hover {
  color: #007d9c;
}

.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
}

nav {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.home {
  letter-spacing: 0.25rem;
  color: #50b7e0;
}
.go-con-ejemplos {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.barra-navegacion-iconos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

.imagen-logo:hover {
  cursor: pointer;
}
.fecha-post {
  color: bisque;
  font-size: 15px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  /*  text-overflow: ellipsis; */
}
